/* sellerDashboardStyles.css */
.app {
  padding: 20px;
}

.chart-container {
  width: 100%;
  max-width: 1500px; /* Set a maximum width for responsiveness */
  margin: 20px auto; /* Add margin for spacing between charts */
  background-color: #f9f9f9; /* Light background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  padding: 20px; /* Padding for content */
}

.chart-container h2 {
  margin-top: 0;
  font-size: 24px; 
  color: #333;
}

.chart-container p {
  font-size: 16px; 
  color: #666; /* Slightly lighter text color */
}

.chart-container > * {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 32px; /* Larger font size for page title */
  color: #333; /* Dark text color */
  margin-bottom: 20px; /* Add some spacing below the title */
}
