* {
    color: #11175D;
    font-family: Nunito;
    font-size: 34.4px;
    font-weight: 700;
    line-height: 46.92px;
    text-align: left;

}
.grid-container {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    place-items: center;
    gap: 10px;

}

p {
    font-family: Nunito;
    font-size: 20.64px;
    font-weight: 400;
    line-height: 28.15px;
    text-align: left;

}

label {
    font-family: Nunito;
    font-size: 20.64px;
    font-weight: 400;
    line-height: 28.15px;
    text-align: left;

}

input[type=submit] {
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #003F62;
    border-style: none;
    border-radius: 86px;
    color: white;
}

input[type=text] {
    padding: 0.5rem;
}

input[type=password] {
    padding: 0.5rem;
}