.login {
    background-color: white;
    display: flex;
width: 1440px;
padding: 223px 0px 179.76px 0px;
justify-content: center;
align-items: center;
}

.login-heading{
    width: 421px;
    height: 47px;
    flex-shrink: 0;
    color: #11175D;
    font-family: Nunito;
    font-size: 34.401px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.login-form {
    width: 421px;
    height: 400px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.popular-product img {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    object-fit: cover; /* This ensures the image fills the space without stretching */
    border-radius: 50%; /* This makes the image a circle */
}

.popular-product .name {
    font-weight: bold;
    margin-top: 10px;
}

.popular-product .price {
    color: #666; /* Adjust as needed */
    margin-top: 5px;
}
